{% extends 'base.html.twig' %}

{% block title %}Contenu des établissements{% endblock %}

{% block body %}
    <div>
        <h1>{{ etablissement.ville.nom }}</h1>
        <p>{{ etablissement.description}}</p>
        <p>Contacter l'entreprise : {{ etablissement.numeroTel }}</p>
        <p>L'entreprise se trouve au {{ etablissement.adressePostale }}</p>
        <p>Mail entreprise : {{ etablissement.adresseMail}}</p>
        {% for categorie in etablissement.categorie %}
            <p class>Catégorie : {{ categorie.nom }}</p>
        {% endfor %}
    </div>
{% endblock %}
